/* src/styles/LoginForm.css */

.screen {
  height: 100vh; /* Ajustar la altura para ocupar toda la pantalla */
  background-color: #0073AB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: #64B5F6;
  width: 100%;
  max-width: 400px;
  height: 500px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.textInput {
  width: 300px; /* Ajusta el ancho aquí */
  font-size:x-large;
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  box-sizing: border-box; 
}

.botonIniciarSesion { /* Agregar el punto (.) antes del nombre de la clase */
  width: 300px; /* Modifico este tamaño */
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  box-sizing: border-box; /* Asegurar que el padding no aumente el tamaño total del elemento */
}

.botonCrearCuenta { /* Agregar el punto (.) antes del nombre de la clase */
  width: 300px; /* Modifico este tamaño */
  padding: 12px;
  border-radius: 8px;
  margin: 8px 0;
  box-sizing: border-box; /* Asegurar que el padding no aumente el tamaño total del elemento */
}

.textInput {
  color: black;
  border: 1px solid #ccc;
  background-color: white;
}

button { /* Cambiar .button a button */
  background-color: #E3F2FD;
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none; /* Asegurar que los botones no tengan bordes */
}

button:hover { /* Cambiar .button:hover a button:hover */
  background-color: #BBDEFB;
}

.text {
  color: black;
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 500;
}

.image {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 20px;
}

.error {
  color: red;
  margin-bottom: 10px;
}
